#set($manifest = $plugin.manifest())
**$manifest.name()**
> ID: `$manifest.id()`
> 版本: `$manifest.version()`
> 作者: `$manifest.author()`

$manifest.description()

#if($manifest.dependencies().size() > 0)
---

**依赖项**
| 名称 | 版本 |
|------|------|
#foreach($entry in $manifest.dependencies().entrySet())
| $entry.key | $entry.value |
#end
#end
