#[[###]]# 已加载$plugins.size()个插件
> 发送 <qqbot-cmd-input text="插件详情" show="插件详情 [ID]"/> 查看插件详情
> 发送 <qqbot-cmd-input text="启用插件" show="启用插件 [ID]"/> 启用插件
> 发送 <qqbot-cmd-input text="禁用插件" show="禁用插件 [ID]"/> 禁用插件

| ID | 名称 | 作者 | 版本 | 状态 |
|----|------|------|------|------|
#foreach($plugin in $plugins)
#set($manifest = $plugin.manifest())
| <qqbot-cmd-input text="插件详情 $manifest.id()" show="$manifest.id()"/> | $manifest.name() | $manifest.author() | $manifest.version() | $statuses.get($plugin.id()) |
#end
