#set($manifest = $plugin.manifest())
#[[##]]# $manifest.name()
> $manifest.description()
> 标识: `$manifest.id()`
> 版本: `$manifest.version()`
> 作者: `$manifest.author()`

#if($manifest.depends().size() > 0)
---

#[[###依赖项]]#
| 名称 | 版本 |
|------|------|
#foreach($entry in $manifest.depends().entrySet())
| $entry.key | $entry.value |
#end
#end